<!DOCTYPE html>
<html lang="en">
<head>
  <!-- using ejs to generate different html for each environment -->
  <% if (htmlWebpackPlugin.options.testTrackingToken) { %>
  <!-- insert error tracking -->
  <meta testTracking='<%=htmlWebpackPlugin.options.testTrackingToken%>'>
  <% } %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Phaser</title>
</head>
<body>
  <h1>Phaser</h1>
</body>
</html>
